
/*****************/

/* HEADER */
/*****************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  background: rgb(222,171,107);
  background: linear-gradient(0deg, rgba(222,171,107,0.5984529554009104) 20%, rgba(222,171,107,0.5984529554009104) 100%);
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

/******************/
/* NAVIGATION */
/*****************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.3s linear;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e26465;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #c29bdd;
}

/* MOBILE NAVIGATION */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 8rem;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  /* background-color: rgba(255, 255, 255, 0.96); */
  background-color: #e1aa66;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*******************/
/* HERO SECTION */
/*******************/


.heading-primary {
  background: rgb(222,171,107);
  background: linear-gradient(0deg, rgba(222,171,107,0.5984529554009104) 20%, rgba(222,171,107,0.5984529554009104) 100%);
  border-radius: 15px;
}

.section-hero {
  background-image: url('https://cdn.create.vista.com/api/media/small/166478828/stock-vector-hand-drawn-georgian-food-seamless?fbclid=IwAR1ndbfRlmYDtWucLvQUnd5RlqmpYp9qnkaWNQwzal06S6Sk1OS78G7Xr_s');
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  background: rgb(222,171,107);
  background: linear-gradient(0deg, rgba(222,171,107,0.5984529554009104) 20%, rgba(222,171,107,0.5984529554009104) 100%);
  border-radius: 15px;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  max-width: 700px;
  width: 100%;
  border: 5px solid #be7f6d;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/*************************/
/* FEATURED IN SECTION */
/************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*******************/
/* HOW IT WORKS */
/*******************/

.section-how {
  padding: 9.6rem 0;
  background-color: #f0e7be;
  border: 5px dotted #c49eda;
}
.step-number {
  font-size: 80px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 22px;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 70%;
  height: 20%;
  /* Trick to give height */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  /* Trick to give height */
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 50%;
}

/*********************/
/* SECTION MEALS */
/*********************/

.section-meals {
  background-color: #fff0b7;
  padding: 9.6rem 0;
}

.meals {
  box-shadow: 12px 12px 20px 8px gray;
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.meals:hover {
  box-shadow: 0 4.8rem 6.4rem rgba(0, 0, 0, 0.06);
  transform: translateY(-1.2rem);
  border: 1px solid gray;
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #fcc419;
}

.meal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/*********************/
/* TESTIMONIALS */
/*********************/

.section-testimonials {
  background-color: #f0e7be;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s linear;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*************/
/* PRICING */
/************/

/* .pricing-box-wrapper {
  max-width: 1120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 40px 0;
} */

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  /* max-width: 300px; */
  width: 100%;
  height: 300px;
  background-color: #f9df3c;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid gray;
}

.option-box-header {
  margin-top: 30px;
  font-size: 30px;
  font-family: cursive;
  color: black;
}

.option-box-txt {
  /* margin-top: 20px; */
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 600;
}

.option-box-lists {
  list-style: circle;
  width: 60%;
  /* margin-top: 20px; */
}

.option-box-li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.fa-check {
  color: green;
  font-size: 40px;
}

.fa-xmark {
  color: red;
  font-size: 40px;
}

.price-per-option-1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: lightgreen;
  border: 1px dotted green;
  border-radius: 10px;
  background-color: #f0e7be;
  padding: 5px;
  margin-bottom: 20px;
}

.li-list-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option-box-2 {
  background-color: #d0da6f;
}
.option-box-3 {
  background-color: #b57ea5;
}
.option-box-4 {
  background-color: #e26465;
}


.pricing-ps-text {
  margin-top: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.feature-icon {
  font-size: 70px;
}
.feature-title {
  font-size: 25px;
  padding-top: 10px;
}
.feature-text {
  padding-top: 10px;
  font-size: 15px;
}

/********************/
/* CALL TO ACTION */
/********************/

.sign-up-section {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://cdn.create.vista.com/api/media/small/166478828/stock-vector-hand-drawn-georgian-food-seamless?fbclid=IwAR1ndbfRlmYDtWucLvQUnd5RlqmpYp9qnkaWNQwzal06S6Sk1OS78G7Xr_s');
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

.main-form-heading {
  font-size: 50px;
  color: white;
}
.main-formdescribe {
  margin-top: 15px;
  font-size: 30px;
  color: #cccf86;
}

.Main-form-container {
  background: #8c6e9a;
  border-radius: 10px;
  width: 800px;
  padding: 40px 60px;
  box-shadow: 1px 1px 20px #171717;
  opacity: .9;

}
.input-group {
  width: 100%;
  margin: 20px 0;

}

input {
  width: 100%;
  border: 1px solid #444;
  border-radius: 5px;
  background: #efad8b;
  color: black;
  padding: 10px 0;
  text-indent: 15px;
}

.submit-btn {
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 18px;
  background: #e99753;
  text-align: center;
  -webkit-transition: background 500ms ease;
  -o-transition: background 500ms ease;
  transition: background 500ms ease;
  color: white;
}

.submit-btn:hover {
  cursor: pointer;
  background: #f4b651;
}

.error-info-toast {
  font-size: 25px;
}

.success-info-toast {
  font-size: 25px;
}


/**************/
/* FOOTER */
/**************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-link {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3 linear;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}


.scroll-to-top-top {
  background-color: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: lightgreen;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s ease;
}

.scroll-to-top-top.activated {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  z-index: 3746328746234;
}






